SLEUTH_DEBUG=false
SLEUTH_LOG_LEVEL=INFO
SLEUTH_ANALYSIS_OUTPUT_DEFAULT_DIRECTORY=./local_testing
SLEUTH_SUPRESS_USER_WARNINGS=true
SLEUTH_LLM_PROVIDER=gemini
SLEUTH_LLM_MODEL_NAME=models/gemini-flash-latest
SLEUTH_LLM_API_KEY=secret-key
